.sample {
    color: white;
    font-size: 20px;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 50px;
}

h1 {
    color: #bfbbbf;
    font-size: 50px;
    padding-top: 60px;
    margin-bottom: 60px;
}