.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  background: url("./resources/plateback.jpg");
}

.welcome {
  width: 100px;
  height: 100px;

}

.video {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.portraitHeader {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.btn {
  display: inline-block;
  border: none;
  background: #2b1441;
  color: white;
  padding: 7px 20px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
  color: white;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}


hr {
  display: block;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 50%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #bfbbbf;
  border-bottom: 1px solid white;
}